# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/

# Java
*.class
*.jar
target/
.idea/
*.iml

# Node
node_modules/
dist/

# 系统文件
.DS_Store
Thumbs.db

# 数据库本地配置（不要提交密码）
application-local.yml
config-local.py
